<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Criar Entrada - Diário Pessoal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'diario/styles.css' %}">
</head>
<body>
    <h1>Criar Entrada no Diário</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
    <p><a href="{% url 'diario:exibir_entradas' %}">Ver minhas entradas</a></p>
</body>
</html>
